# Production / Local Environment Configuration
VITE_SOCKET_SERVER_URL=http://localhost:5000
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=whiteboard-realm
VITE_KEYCLOAK_CLIENT_ID=react-client
