# Port for the Express server
PORT=5000

# SMTP settings for automatic invite emails
# Leave blank to automatically use fallback testing account (Ethereal Email)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Interactive Whiteboard <no-reply@example.com>"
